@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
    
}

header{
    background-image: linear-gradient(180deg ,#8507e1,#3dc8d5 );
    padding-top: 20px;
}
header h3{
    font-size: 2em;
    margin-left: 20px;
    color: white;
    font-family: 'Gilda Display', serif;
    border: 10px double white;
    border-radius: 50%;
    width: 110px;
    height: 100px;
    text-align: center;
    padding-top: 12px;
    
}
header h1{
    font-size: 5em;
    font-family: 'Gilda Display', serif;
    color: #ccc;
    margin-bottom: 50px;
}
header p{
    font-size: 1.5em;
    color: #ccc;

}
div{
    border: 1px solid white;
    width: 400px;
    background-image: linear-gradient(90deg ,#8507e1,#3dc8d5 );
    text-align: center;
    margin: 350px auto;
}
div:hover{
    background-image: linear-gradient(180deg ,#8507e1,#3dc8d5 );
}
header ul{
   
    font-size: 2em;
    text-align: end;
    margin-left: auto;
    padding: 0px 20px 20px 0;
    width: 200px;
    list-style: none;

}
header ul li{
    cursor: pointer;
    
}
header ul li:hover{
color: rgba(255, 255, 255, 0.3);
    
}
header ul li:nth-child(1):after{
    content: "⚛️";
    padding-left: 10px;
    
}
header ul li:nth-child(2):after{
    content: "🛐";
    padding-left: 10px;
    
}
header ul li:nth-child(3):after{
    content: "♍️";
    padding-left: 10px;
    
}
header ul li:nth-child(4):after{
    content: "🕉";
    padding-left: 10px;
    
}


section{
    
    width: 50vw;
    
    margin: 0 auto;
}
section h1{
    margin: 50px 0 0 0;
    font-size: 5em;
    margin-bottom: 40px;
    width: 450px;
  
}
section p{
    width: 450px;
}
img{
    margin: 100px 0 0 0;
    width: 50vw;
    border-radius: 20px;
}
section h2{
    font-size: 3em;
}

section img{
    
    padding-bottom: 50px;
}